Repository inblossoms/rox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny, cargo-test

cargo-fmt:
  name: cargo fmt
  description: Format files with rustfmt.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  description: Check cargo dependencies
  entry: bash -c 'cargo deny --disable-fetch check'
  language: system
  pass_filenames: false

cargo-test:
  name: cargo nextest
  description: unit test for the project
  entry: cargo nextest run --all-features
  language: system
  pass_filenames: false

fix(pre-commit): correct cargo deny command order
  .pre-commit-config.yaml
Due: none

build(deps): update deny.toml configuration
  deny.toml
Due: none

build: update Cargo.lock and add dirs and rustyline dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-deny

feat(repl): add readline support with history and error handling
  src/error.rs
  src/main.rs
  src/tokenizer/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(interpreter): updated some comments.
  src/evaluate/interpreter.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: rename AST to Ast for consistency and clarity
  src/ast/expr.rs
  src/evaluate/interpreter.rs
  src/parser/parse.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: add dead_code allowance for unused Error struct
  src/evaluate/error.rs
  src/evaluate/value.rs
  src/tokenizer/literal.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(mod): export ScanError along with Error from tokenizer module
  src/tokenizer/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add codespan-reporting and termcolor dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-deny

feat: add diagnostic error reporting with syntax highlighting
  src/diagnostics.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(evaluate): add string concatenation support for mixed types
  src/evaluate/interpreter.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(readme): enhance documentation with comprehensive language features overview
  README.md
Due: none

chore(config): update typos , configure whitelist rules to avoid false positives
  _typos.toml
Due: none

chore(release): prepare for v0.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-deny

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-deny: any of: ^Cargo\.(toml|lock)$
  cargo-test: any of: \.rs$
